@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 749px) {
  html, body {
    overflow-x: hidden !important;
  }
}

/*Navbar*/
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to bottom, #0D121B, #0D171E);
  color: #fff;
  margin-top: -300px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  margin-right: 100px;
  text-decoration: none;
  color:#FFFFFF;
  font-size: 30px;
  font-weight: 600;
  font-family: Poppins;

}

.navigation-link  {
  transition: all 0.3s ease;
}

.navigation-link:hover  {
  color: #f05050;
}

.social-links {
  display: flex;
}

.social-link {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin: 20px;
}

.social-link i {
  transition: all 0.3s ease;
}

.social-link:hover i {
  color: #f05050;
}

@media only screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
  }

  .navigation-link {
    font-size: 15px;
    margin-right: 5px;
  }

  .social-link {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin: 5px;
  }


  .nav-links li {
    margin-bottom: 10px;
  }

  .nav-links li:last-child {
    margin-bottom: 0;
  }

  #nav-toggle-checkbox:checked + .nav-links {
    display: block;
  }
}

/*Hero section*/
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  color: #fff;
  background-image: url('/kk.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .left h1 {
  font-family: Lato;
  font-weight: 700;
  font-size: 140px;
  margin-bottom: 0;
  margin: 120px;
  line-height: 0.8;
  align-items: center;
  margin-top: -150px;
  
}



.hero-section .left {
  flex: 1;
}

.hero-section .right {
  align-self: baseline;
  margin-top: -80px;
  margin-left: -300px;
}

.hero-section .right img {
  height: 650px;
  vertical-align: baseline;
  align-items: baseline;
  width: 100%;

}

.triangle {
  width: 0;
  height: 0;
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-bottom: 250px solid #f9f9f9;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Mobile view */
@media only screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    padding: 10px;
    background-image: url('/kk.png');
   background-size: 100% 650px;
   background-position: center;
   background-repeat: no-repeat;
  }

  .left {
    width: 100%;
    text-align: center;
  }

  .right {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .triangle {
    display: none;
  }

  .hero-section .right img {
    height: 400px;
    width: 600px;
    align-items: center;
    left: 80%;
  
  }

  .hero-section .right {
    align-self: center;
    width: 600px;
    margin-left: 25px;

  }

  .hero-section .left h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
    margin: 50px;
    line-height: 0.8;
    align-items: baseline;
    margin-top: 60px;
    
  }
}

/*Introd*/
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
  color: #333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 60px;
 
  gap: 100px;
}

.content {
  flex: 1;
}

h3{
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  color: #D10B0B;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-family: Poppins;
}

p {
  font-size: 20px;
  line-height: 1.5;
  font-family: Poppins;
  font-weight: 400;
  color: #38465F;
}

.image-container {
  flex: 1;
  position: relative;
  width: 550px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 550px;
  height:600px;
  object-fit: cover;
  margin-left: 50px;
}

.know-more {
  display: inline-block;
  padding: 10px 20px;
  
  color: #201E6B;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.know-more:hover {
  background-color: #0056b3;
}

/* Mobile view */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    
  }

  h3{
    font-size: 16px;
  }

  h1{
    font-size: 27.2px;
  }

  p{
    font-size: 12px;
  }

  .content {
    width: 100%;
  }

  .image-container {
    width: 400px;
    align-items: center;
    margin-top: -150px;
  }

  .image-container img {
    width: 300px;
    height:400px;
    
  }

  .know-more {
    width: 100%;
    text-align: center;
  }
}

/*Career*/
.container-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-c{
  font-family: Poppins;
  font-weight: 700;
  font-size: 70px;
  color: #201E6B;
  align-items: center;
  text-align: center;
}

.image-grid-c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.image-container-c {
  position: relative;
  width: 400px;
  height: 600px;
  perspective: 1000px;
  margin: 40px;
}

.image-container-c.flipped .front {
  transform: rotateY(180deg);
}

.image-container-c.flipped .back {
  transform: rotateY(0deg);
}

.front,
.back
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  border-radius: 30px;
  height: 550px;
  align-items: center;
}

.back-1 {
  background-color: rgba(248,156,18,255);
  
}

.back-2 {
  background-color: rgba(63,46,190,255);
}

.back-3 {
  background-color: rgba(196,10,11,255);
}

.back-4 {
  background-color: rgba(86,49,170,255);
}

.image-container-c .back p {
  font-size: 25px;
  font-family: Poppins;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  padding: 50px;

}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5; 
}

.vertical-text-as{
  position: absolute;
  top: 25%;
  width: 200px;
  height: 900px;
  left: 0;
}

.vertical-text-ps{
  position: absolute;
  top: 30%;
  width: 200px;
  height: 1000px;
  left: 90%;
}

.Read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  margin-left: 120px;
}

.Read-more:hover {
  background-color: #0056b3;
}

/* Add this media query to stack the images on mobile view */
@media only screen and (max-width: 768px) {
  .image-grid-c {
    grid-template-columns: 1fr;
    
   
  }

  .image-container-c {
    width: 350px;
    height: 550px;
  }

  .title-c{
    font-size: 35px;
  }

  .vertical-text-as{
    display: none;
  }

  .vertical-text-ps{
    display: none;
  }
}



/*Match*/
.image-container-m {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.absolute-image {
  position: absolute;
  top: 36%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.image-wrapper {
  transition: transform 0.2s ease-in-out;
}

.image-wrapper img {
  width: 100%;
  height: 450px;
}

/* Adjust the image size for mobile view */
@media only screen and (max-width: 768px) {
  .image-container-m {
    height: 50vh; 
    margin-bottom: 390px;
    padding: 10px;
    
  }
  .absolute-image {
    width: 100%;
    height: 20%;
    top: 63%;
    left: 60%;
    
  }
  .image-wrapper {
    width: 80%;
    height: 20%;
  }
}
  


/*Scores*/
.container-s {
  display: flex;
  flex-direction: column;
  padding: 75px;
  height: 100vh;
  width: 100%;
  
}

.title-s {
  font-size: 25px;
  font-weight: 700;
  color: #D10B0B;
  font-family: Poppins;
}

.subtitle {
  font-size: 100px;
  font-weight: 700;
  color: #201E6B;
  font-family: Poppins;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.score:last-child {
  margin-right: 0;
}

.score-number {
  font-size: 60px;
  font-weight: bold;
  color: #222;
  margin-bottom: 16px;
}

.score-label {
  font-size: 20px;
  font-weight: 700;
  color: #201E6B;
  margin-bottom: 8px;
  font-family: Poppins;
}

.score-detail {
  font-size: 20px;
  font-weight: 700;
  color: #D10B0B;
  font-family: Poppins;
}

.matter-image {
  width: 500px; 
  height: 110px;
  
  
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
  .container-s {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-bottom: -300px;
    margin-left: -20px;
    
  }
  
  .title-s {
    font-size: 10px;
    
  }
  
  .subtitle {
    font-size: 45px;
    
  }
  
  .scores {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    gap: 20px;
  }
  
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    
  }
  
  .score:last-child {
    margin-right: 0;
  }
  
  .score-number {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    margin-bottom: 16px;
  }
  
  .score-label {
    font-size: 7px;
    font-weight: 700;
    color: #201E6B;
    margin-bottom: 8px;
    font-family: Poppins;
  }
  
  .score-detail {
    font-size: 7px;
    font-weight: 700;
    color: #D10B0B;
    font-family: Poppins;
  }
  
  .matter-image {
    width: 190px; 
    height: 46px;
    
    
  }
}



/*Awards*/
.awards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  margin-top: -250px;
}

.awards-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.awards-title {
  font-size: 2rem;
  font-weight: bold;
  color: red;
}

.awards-tagline {
  font-size: 3rem;
  font-weight: bold;
  color: navy;
}

.awards-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.awards-image img {
  max-width: 100%;
  height: auto;
}

.your-full{
  font-size: 100px;
  font-weight: 700;
  color: #201E6B;
  font-family: Poppins;
}

.reach-image-a{
  width: 320px;
  height: 120px;
}

.Award-a {
  font-size: 25.8px;
  font-weight: 700;
  color: #D10B0B;
  margin-bottom: 10px;
  font-family: Poppins;
}



/* Mobile view styles */
@media only screen and (max-width: 768px) {
  .awards-text-image {
    flex-direction: column;
    
  }
  
  .awards-text {
    position: absolute;
    margin-right: 0;
    margin-left: -40px;
    overflow: hidden;
  }

  .your-full{
    
    font-size: 45px;
    margin: 0;
  }
  
  .awards-image {
    margin-right: -100px;
    margin-left: 50px;
    width: 242px;
    height: 253px;
    overflow: hidden;
  }

  

  .reach-image-a{
    
    width: 170px;
    height: 80px;
  }

}

/*Gold*/
.awards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
  margin-left: 70px;
}

.left-column, .right-column, .middle-column {
  position: relative;
  flex: 1;
  flex-basis: 30%;
  margin: 20px;
}

.vertical-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  font-size: 15px;
  font-weight: 700;
  top: 80%;
  left: -20%;
  transform-origin: 0 0;
  font-family: Lato;
  color: #2E2754;
}



.award {
  margin-bottom: 20px;
}

.award:hover p:first-child span.gold,
.award:hover p:first-child,
.award:hover p.Kick {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.award:hover p:first-child span.gold {
  color: #D10B0B; 
}

.award:hover p:first-child {
  color: #201E6B; 
}

.award:hover p.Kick {
  color: #201E6B; 
}

.gold {
  font-size: 18px;
  font-weight: 500;
  color: #ffd700;
  font-family: Poppins;
}

.championship {
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins;
}

.details {
  font-size: 14px;
  color: #38465F;
  font-family: Poppins;
  font-weight: 400;
  }

  /* Mobile view */
@media only screen and (max-width: 768px) {
  .awards-section {
    padding: 9px;
    align-items: center;
   
    
  }
  
  .columns {
    flex-direction: column;
  }
  
  .award {
    margin: 10px;
    padding: 9px;
  }
  
  .gold {
    font-size: 15px;
  }
  
  .award p:first-child {
    font-size: 15px;
  }

  .Kick{
    font-size: 15px;
  }

  .first-child{
    font-size: 15px;
  }
  
  .details {
    font-size: 10px;
  }

  

  .vertical-text {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 18px;
    text-align: center;
    top: -42px;
    left: 10px;

  }
}


  


/*Journey*/
.container-j {
  display: flex;
  justify-content: space-between;
  display: block;
  align-items: flex-start ;
  padding: 100px;
  
}


.container-main{
  padding: 50px
}

.left-side {
  width: 50%;
  padding: 50px;
}

.right-side {
  width: 50%;
  padding: 50px;
}

.title-j {
  text-align: left;
 
}

.journey-of-kabaddi {
  font-size: 25.8px;
  font-weight: 700;
  color: #D10B0B;
  margin-bottom: 10px;
  font-family: Poppins;
}

.reach-image{
  width: 320px;
  height: 120px;
}

.your {
  font-size: 100px;
  font-weight: 700;
  color: #201E6B;
  font-family: Poppins;
}

.know {
  font-size: 39px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  font-family: Poppins;
}

.journey {
  font-size: 62px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  font-family: Poppins;
}

.text {
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 700;
}

.learn-more {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-size: cover;
  background-position: center;
}

.left-side {
  width: 60%;
  color: #fff;
}

.right-side {
  width: 40%;
  display: flex;
}

.image img {
  display: inline-block;
  width: 100%;
  height: auto;
  
}

/* Mobile view */
@media only screen and (max-width: 768px) {
  .container-j {
    padding: 10px;
    
  }
  .title-j {
    flex-direction: column;
    align-items: center;
  }
  .journey-of-kabaddi {
    font-size: 12px;
  }
  .reach-image {
    width: 150px;
    height: 90px;
  }
  .your {
    font-size: 45px;
  }
  .container-main {
    padding: 0px;
    background-image: url('/kk.png');
    background-size: cover;
    background-position: center;
   
  }
  .main-content {
    flex-direction: column;
    align-items: center;
   
    
  }
  .left-side {
    width: 100%;
    padding: 20px;
  }
  .know {
    font-size: 30px;
  }
  .journey {
    font-size: 50px;
  }
  .text {
    font-size: 12px;
  }
  .learn-more {
    font-size: 14px;
  }
  .right-side {
    width: 100%;
    padding: 0px;
  }
  .image {
    width: 500px;
    height: 100%;
  }
}

/*ImageGrid*/
.container-i {
  max-width: 600px; 
  margin: 40px auto; 
  padding: 5px; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.image-grid > *:nth-child(-n + 3) {
  grid-column: auto;
}

.image-grid > *:nth-child(n + 4) {
  grid-column: 1 / -1;
}

.image-grid img {
  transition: transform 0.3s ease-in-out;
}

.image-grid img:hover {
  transform: scale(1.1);
}

/* Add media queries for mobile devices */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
   
  }
}

/*Footer*/
.full-screen-image-container {
  position: relative; 
  width: 100vw;
  height: 100%;
 
}


/* About the Journey Section */

.about-the-journey-container-aa {
  position: relative;
  width: 100%;
  height: 800px;
  top: -30px;
  gap: 0;
  opacity: 1px;  
}

.image-wrapper-aa {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container-aa {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.image-container2-aa {
  position: absolute;
  top: 400.5px; /* Adjusted top to move the image further down */
  right: 1rem;
  transform: translateY(-50%) scale(0.8); /* Scaled down to 80% of the original size */
  z-index: 2;
  width: 603px; /* Original width */
  height: 734.7px; /* Original height */
}

.image-container-aa img,
.image-container2-aa img {
  display: block;
  width: 100%;
  height: auto;
}

.header-aa {
  position: absolute;
  top: 100px; /* Adjust as needed to position header */
  left: 50%; /* Center the header horizontally */
  transform: translateX(-50%); /* Center the header horizontally */
  width: 100%; /* Ensure header spans full width */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
  color: #FFFFFF;
  padding: 20px;
}

.header-aa h1,
.header-aa h2 {
  font-family: Lato;
  text-align: left;
  color: #FFFFFF;
  background: transparent;
  padding: 10px;
  margin-bottom: 20px;
  width: auto; /* Adjust width based on content */
  height: auto; /* Allow height to adjust based on content */
}

.header-aa h1 {
  font-size: 145px;
  font-weight: 800;
  line-height: 139.31px;
  letter-spacing: 0.1em;
}

.header-aa h2 {
  font-size: 155px;
  font-weight: 800;
  line-height: 175px;
  letter-spacing: 4px;
  margin: 0;
  position: relative; /* Ensure it’s correctly positioned within its parent */
}

.triangle-a {
  width: 0;
  height: 0;
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-bottom: 250px solid #f9f9f9;
  position: absolute;
  top: 84%;
  margin-left: -280px;
  transform: translateX(-50%);
}

/*vidharbha*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.h1-container-va {
  width: 100%;
  max-width: 798px;
  position: relative;
  top: 0; /* Decrease this value to move down */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0;
  opacity: 1;
  margin-top: 10rem;
}

.h1-container-va h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.25rem;
  text-align: center;
  color: #D10B0B;
  white-space: nowrap;
  margin: 0;
}

.h1-container-va h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
  text-align: center;
  color: #2E2754;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: -2rem;
}
.p-container-va {
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 5rem;
}

.p-container-va p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76rem;
  text-align: center;
  color: #38465F;
  margin: 0; /* Reset margin-top */
  padding: 0;
  display: inline; /* Make paragraph inline */
  position: relative; /* Add relative positioning */
  top: 0; /* Increase this value to move the paragraph down */
}
.img-container-va {
  position: absolute;
  width: 100%;
  max-width: 599px;
  height: auto;
  top: 1850px; /* Increased the value to move the image down */
  left: 150px; /* Move the image to the left edge of the container */
  right: auto; /* Remove right property */
  opacity: 1;
  transform: scale(0.8);
  z-index: 1;
}

.list-container-va {
  position: absolute;
  width: 100%;
  max-width: 534px;
  top: 900px; /* Increase this value to move the list container further up */
  right: -20px; /* Move the container further to the right */
  color: #38465F;
  padding: 1rem;
  gap: 0;
  opacity: 1;
  font-family: Poppins;
  font-size: 20px; /* Set the font size to 20px */
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  z-index: 1;
}

.list-container-va {
  margin-right: -700px; /* Space from the right edge */
  margin-top: -900px; /* Adjust this value to position the list container vertically */
}

.list-container-va ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container-va li {
  padding: 0.5rem 0;
  color: #38465F;
  font-family: "Poppins", sans-serif;
  font-size: 20px; /* Set the font size to 20px */
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
}

.list-container-va li::before {
  content: "\2605";
  font-size: 20px; /* Set the font size to 20px */
  color: #38465F;
  margin-right: 0.5rem;
}

.list-container-va li:last-child {
  margin-bottom: 0;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .container {
     max-width: 90%;
   }
  .h1-container-va {
     max-width: 90%;
   }
  .p-container-va {
     max-width: 90%;
   }
  .img-container-va {
     max-width: 80%;
     top: 1200px;
     left: 100px;
   }
 } 


 /*fact*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #38465F;
  background-color: #f9f9f9;
  padding-top: 300px; /* Add 300px padding to the top of the body */
}

/* Heading Container */

.heading-containerfa {
  max-width: 80%; /* Adjust width based on screen size */
  margin: 40px auto; /* Center horizontally */
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1000px; /* Move the heading container down by 300px */
  margin-left: auto; /* Move the heading container to the right side */
  margin-right: 400px; /* Remove right margin */
}

.heading-containerfa h1 {
  font-size: 2.5rem; /* Adjust font size based on screen size */
  font-weight: 700;
  line-height: 1.2;
  color: #D10B0B;
  margin-bottom: 10px;
}

.heading-containerfa h2 {
  font-size: 1.5rem; /* Adjust font size based on screen size */
  font-weight: 700;
  line-height: 1.2;
  color: #201E6B;
  margin-bottom: 20px;
}
/* Paragraph Container */

.paragraph-containerfa {
  display: inline-block; /* Display the container inline */
  max-width: 80%; /* Adjust width based on screen size */
  margin: 40px 0 40px 0px; /* Move the container 20px to the left */
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0; /* Move the paragraph container down by 300px */
}

.paragraph-containerfa p {
  font-size: 1.2rem; /* Adjust font size based on screen size */
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Lorem Text Container */

.lorem-text-containera {
  display: flex;
  flex-wrap: nowrap;
}

.lorem-text-item-containera {
  flex: 1;
  margin: 10px;
}

.lorem-text-item {
  font-family: Poppins;
  font-size: 29.8px;
  font-weight: 700;
  line-height: 22.63px;
  letter-spacing: 4px;
  text-align: left;
  color: #201E6B;  
}

.lorem-text-item1 {
color: #D10B0B;
font-family: Poppins;
font-size: 29.8px;
font-weight: 700;
line-height: 22.63px;
letter-spacing: 4px;
text-align: left;
margin-top: 10px;
}
/* Fact Image Container */

.fact-image-containera {
  max-width: 40%; /* Adjust width to make room for paragraph */
  margin: 40px;
  display: inline-block; /* Display inline-block to make it horizontal */
  vertical-align: top; /* Align top to prevent whitespace issues */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Move the fact image container down by 300px */
}

.fact-image-containera img {
  width: 100%; /* Make the image take up the full width of the container */
  height: auto;
  border-radius: 10px;
}

.paragraph-containerf2 {
  max-width: 50%; /* Adjust width to make room for image */
  margin: 40px;
  float: right; /* Float to the right side of the image */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -330px; /* Move the paragraph container up by 30px */
}

.paragraph-containerf2 p {
  font-size: 1.2rem; /* Adjust font size based on screen size */
  line-height: 1.6;
  margin-bottom: 20px;
}
/* Media Queries */

/* Tablet landscape (1024px and below) */
@media only screen and (max-width: 1024px) {
  .heading-containerfa {
    max-width: 90%;
  }

  .paragraph-containerfa {
    max-width: 90%;
  }

  .lorem-text-containera {
    max-width: 90%;
  }

  .fact-image-containera {
    max-width: 90%;
  }

  .paragraph-containerf2 {
    max-width: 90%;
  }
}

/* Tablet portrait (768px and below) */
@media only screen and (max-width: 768px) {
  .heading-containerfa {
    width: 300px;
    height: 100px;
    top: 1800px;
    left: 100px;
  }

  .paragraph-containerfa {
    width: 600px;
    top: 2000px;
    left: 50px;
  }

  .lorem-text-containera {
    width: 600px;
    top: 2400px;
    right: 0;
  }

  .fact-image-containera {
    width: 800px;
    height: 300px;
    top: 2800px;
    left: 100px;
  }

  .paragraph-containerf2 {
    width: 400px;
    top: 1600px;
    left: 300px;
  }
}

/* Mobile (480px and below) */
@media only screen and (max-width: 480px) {
  .heading-containerfa {
    width: 200px;
    height: 80px;
    top: 1500px;
    left: 50px;
  }

  .paragraph-containerfa {
    width: 400px;
    top: 1800px;
    left: 20px;
  }

  .lorem-text-containera {
    width: 400px;
    top: 2200px;
    right: 0;
  }

  .fact-image-containera {
    width: 600px;
    height: 200px;
    top: 2600px;
    left: 50px;
  }

  .paragraph-containerf2 {
    width: 300px;
    top: 1400px;
    left: 200px;
  }
}

/* Career highlights*/

.career-container {
  width: 100%; /* Full width */
  padding: 50px; /* Padding around the container */
  margin-left: 30px; /* Center the container horizontally */
  text-align: center; /* Center the text inside the container */
  background-color: #f9f9f9;
  align-items: center;
  justify-items: center;
  margin-top: -2300px;

}

/* Career Highlights Title */
.title-career {
  width: 842px; /* Set width */
  height: auto; /* Auto height */
  margin: 2300px auto 50px; /* Add top margin to move the title down */
  gap: 0px; /* No gap */
  opacity: 1; /* Set opacity */
  font-family: 'Poppins', sans-serif; /* Font family */
  font-size: 80px; /* Font size */
  font-weight: 700; /* Font weight */
  line-height: 95.7px; /* Line height */
  letter-spacing: 2px; /* Letter spacing */
  text-align: center; /* Text alignment */
  color: #201E6B; /* Background color */
  padding: 10px; /* Padding inside the title */
  border-radius: 5px; /* Optional: rounded corners */
}

.career-highlights {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: flex-start; /* Align items at the top */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  gap: 150px; /* Space between items */
  margin-top: 20px; /* Space above the container */
  width: 1316px;
  height: 1886px;
  top: 4319px;
  left: 302px;
}

/* Highlight Common Styles */
/* Highlight Common Styles */
.highlight,
.highlight3 {
  display: flex; /* Use flexbox to align children horizontally */
  flex-direction: row; /* Align children in a row */
  align-items: center; /* Center items vertically within the row */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the highlight */
  width: 1301px; /* Fixed width for each highlight item */
  height: 359px; /* Fixed height for each highlight item */
  gap: 20px; /* Add a gap between the image and content */
  opacity: 1; /* Fully visible */
  position: relative; /* Ensure positioning is relative */
}

/* Player Image Styles */
.player-image ,
.player-image3{
  width: 350px;
  height: 350px;
  border-radius: 5px; /* Rounded corners */
  margin-right: 0; /* Remove margin-right */
}

/* Highlight Content Styles */
.highlight-content,
.highlight-content3 {
  width: calc(100% - 370px); /* Adjust width to fit content next to the image */
  height: auto; /* Allow height to adjust based on content */
  opacity: 1; /* Make sure the content is visible */
  font-family: 'Poppins', sans-serif; /* Font family */
  color: #333; /* Text color */
}

/* Heading Styles */
.highlight-content h3,
 .highlight-content3 h3{
  font-family: 'Poppins', sans-serif; /* Font family */
  font-size: 25px; /* Font size */
  font-weight: 700; /* Font weight */
  line-height: 36px; /* Line height (match height for vertical centering) */
  letter-spacing: 2px; /* Letter spacing */
  text-align: center; /* Center the text */
  opacity: 1; /* Make sure the text is visible */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  color: #201E6B; /* Text color */
}

/* Paragraph Styles */
.highlight-content p,
.highlight-content3 p{
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  color: #38465F;
  padding: 10px;
  border-radius: 5px;
}


/* Highlight 2 and Highlight 4 Styles */
.highlight2, .highlight4 {
  display: flex; /* Use flexbox to align children horizontally */
  flex-direction: row-reverse; /* Align children with image on the right and content on the left */
  align-items: center; /* Center items vertically within the row */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the highlight */
  width: 1316px; /* Fixed width for each highlight item */
  height: 359px; /* Fixed height for each highlight item */
  gap: 20px; /* Add a gap between the image and content */
  opacity: 1; /* Fully visible */
  position: relative; /* Ensure positioning is relative */
  margin-top: 50px; /* Add margin-top to ensure space between sections */
  overflow: hidden;
}

/* Player Image 2 and 4 Styles */
.player-image2, .player-image4 {
  width: 350px;
  height: 350px;
  border-radius: 5px; /* Rounded corners */
  margin-left: 0; /* Ensure margin-left is adjusted correctly */
}

/* Highlight Content 2 and 4 Styles */
.highlight-content2, .highlight-content4 {
  width: calc(100% - 370px); /* Adjust width to fit content next to the image */
  height: auto; /* Allow height to adjust based on content */
  opacity: 1; /* Make sure the content is visible */
  font-family: 'Poppins', sans-serif; /* Font family */
  color: #333; /* Text color */
  margin-top: 30px; /* Adjust this value to move the content down */
}

/* Heading Styles for Highlight Content 2 and 4 */
.highlight-content2 h3, .highlight-content4 h3 {
  font-family: 'Poppins', sans-serif; /* Font family */
  font-size: 25px; /* Font size */
  font-weight: 700; /* Font weight */
  line-height: 36px; /* Line height (matches height for vertical centering) */
  letter-spacing: 2px; /* Letter spacing */
  text-align: center; /* Center the text */
  opacity: 1; /* Ensure the text is fully visible */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  color: #201E6B; /* Text color */
}

/* Paragraph Styles for Highlight Content 2 and 4 */
.highlight-content2 p, .highlight-content4 p {
  margin-top: 10px; /* Move the paragraph down */
  font-family: 'Poppins', sans-serif; /* Font family */
  font-size: 25px; /* Font size */
  font-weight: 400; /* Font weight */
  line-height: 44px; /* Line height */
  text-align: left; /* Align text to the left */
  padding: 10px; /* Add padding inside the paragraph */
  border-radius: 5px; /* Optional: Add rounded corners */
  color: #38465F; /* Text color */
}


/* Link Styles */
.highlight-content a,
.highlight-content2 a,
.highlight-content3 a,
.highlight-content4 a {
  color: #201E6B; /* Link color */
  text-decoration: none; /* Remove underline */
  font-weight: 600; /* Font weight for the link */
}

.highlight-content a:hover,
.highlight-content2 a:hover,
.highlight-content3 a:hover,
.highlight-content4 a:hover {
  text-decoration: underline; /* Add underline on hover */
}
/* Media Queries */

/* Small screens (mobile devices) */
@media only screen and (max-width: 768px) {
  /* Adjust font sizes, spacing, and margins for small screens */
  .title-career {
    font-size: 30px;
  }
  .highlight-content h3 {
    font-size: 20px;
  }
  .highlight-content p {
    font-size: 16px;
  }
  /* Add other adjustments as needed */
}

/* Medium screens (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Adjust font sizes, spacing, and margins for medium screens */
  .title-career {
    font-size: 35px;
  }
  .highlight-content h3 {
    font-size: 22px;
  }
  .highlight-content p {
    font-size: 18px;
  }
  /* Add other adjustments as needed */
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
  /* Adjust font sizes, spacing, and margins for large screens */
  .title-career {
    font-size: 40px;
  }
  .highlight-content h3 {
    font-size: 25px;
  }
  .highlight-content p {
    font-size: 20px;
  }
  /* Add other adjustments as needed */
}
